body{
    padding: 20px;
}

img{
    float: left;
    margin-right: 25px;
}

a{
    text-decoration: none;
    color: black;
    border: 2px solid lightgreen;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    background-color: green;
}

a:hover{
    background-color: lightgreen;
    border: 2px solid green;
}

.navli{
    float: left;
    list-style: none;
    margin: 105px 0px 0px 50px;
    color: black;
}

#header{
    float: auto;
    height: auto;
    width: 70%;
    margin-left: auto;
}

.tasklist{
    clear: both;
    width: 90%;
    /*Could condense these margins in future..*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: lightgreen;
    border: 1px solid green;
}