body{
    padding: 20px;
}

img{
    float: left;
}



a{
    text-decoration: none;
    color: black;
    border: 2px solid lightgreen;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    width: 50px;
    background-color: green;
}

a:hover{
    background-color: lightgreen;
    border: 2px solid green;
}

.navli{
    float: left;
    list-style: none;
    margin: 95px 0px 0px 100px;
    color: black;
}

#header{
    float: auto;
    height: auto;
    width: 100%;
}

.tasklist{
    clear: both;
}